<template>
    <footer>
    <section class="hero is-fullheight is-danger">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="title" v-html='contact'></div>
    </div>
  </div>
    </section> 

        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <span class="is-size-7" v-html="copyright"></span>
                </div>
                <div class="column has-text-right">
                    <span class="is-size-7" v-html="techstack"></span>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
  data() {
    return {
      copyright: "Copyright &copy;2018 Tom Tan",
      techstack:
        "Powered by <a href='https://vuejs.org/index.html'>Vue.js</a> & <a href='https://webpack.js.org'> webpack</a>",
      contact: this.join([
        '<a href="mailto:tom.tan@live.com">tom.tan@live.com</a>',
        '(+86)135-248-26926',
        '<i class="fab fa-weixin"></i>13524826926'
      ])
    };
  },
  methods: {
    join(items) {
      return items ? items.join(" &middot; ") : "";
    }
  }
};
</script>

