<template>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block" v-for="c in employment" :key="c.title">
            <div class="cd-timeline-img cd-location">
                <img :src="complete_url(c.image)" alt="location">
            </div>

            <div class="cd-timeline-content content">
                <div class="title"><md :source='c.title'></md> </div>
                <div>{{c.department}}</div>
                <div>
                    <md :source='c.details'></md>
                </div>

                <span class="cd-date" v-html='c.when'></span>
                <div>
                <a :href="c.link" v-if="c.link.trim()" class="button is-dark">Read more ...</a>
            </div>
            </div>
        </div>
    </section>
</template>

<script>
import md from "../components/mdify.vue";

import location_svg from "../assets/img/cd-icon-location.svg";

export default {
  props: ["contents"],
  data() {
    return {};
  },
  computed: {
    employment() {
      const employment = this.contents.employment;
      if (employment)
        return employment.map(function(e) {

          const body = e.body.responsibility.slice(0,10).join('\n') + "\n...";

          return {
            image: "cd-icon-location.svg",
            title: e.employer.name,
            details: body,
            when: e.title + '&middot;' + e.start + " - " + e.end,
            link: "https://ttan.netlify.com/cv/full-cv-zh"
          };
        });

      // return this.contents;
    }
  },
  methods: {
    complete_url(img) {
      return "dist/img/" + img;
    },
    handleScroll(event) {
      // Any code to be executed
      // when the window is scrolled
      var getVisibleHeight = function getVisibleHeight() {
        return document.documentElement.clientHeight;
      };

      var getScrollHeight = function getScrollHeight() {
        return document.documentElement.scrollHeight;
      };

      // console.log("getVisibleHeight:" + getVisibleHeight());
      // console.log("getScrollHeight:" + getScrollHeight());
      // console.log(
      //   document.documentElement.scrollTop || document.body.scrollTop
      // );
    }
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  // mounted() {
  //   var timelineBlocks = document.getElementsByClassName("cd-timeline-block"),
  //     offset = 0.9;

  //   //hide timeline blocks which are outside the viewport
  //   hideBlocks(timelineBlocks, offset);

  // },

  components: {
    md
  }
};
</script>


<style scoped>
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  /* width: 4px; */
  width: 2px;
  /* background: #d7e4ed; */
  background: red;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    /* margin-top: 3em;
    margin-bottom: 3em; */
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

/* -------------------------------- 

Main components: item block

-------------------------------- */

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

/* -------------------------------- 

Main components: item image 

-------------------------------- */

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: red;
  /* background: #f0ca45; */
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

/* -------------------------------- 

Main components: item content 

-------------------------------- */

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  /* background: white; */
  border-radius: 0.25em;
  padding: 1em;
  /* box-shadow: 0 3px 0 #d7e4ed; */
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  /* color: #303e49; */
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: 0.8em 1em;
  /* background: #acb7c0; */
  /* color: white; */
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  /* background-color: #bac4cb; */
}
.cd-timeline-content .cd-date {
  float: left;
  padding: 0.8em 0;
  opacity: 0.7;
}
.cd-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

@media only screen and (min-width: 1170px) {
}
</style>

