<template>
<div>
  <section class="hero  is-fullheight">

    <div class="hero-body"><div class="container"> 
      <nav class="level">  
          <div class="level-item has-text-centered" v-for='t in title' :key='t.title'>
            <div>
              <p v-html="t.title"></p>
              <a class="heading" :href='t.link' style="font-size:5em;" v-html="t.icon" :title='"进入" + t.title'></a> 
              <span v-if="t.pdf || t.docx"><a :href='t.pdf' title='PDF格式下载'>pdf</a> &middot <a :href='t.docx' title='Word格式下载'>docx</a></span>

              <!-- <a :href='t.pdf' v-if="t.pdf" style="font-size:1em;"><i class="far fa-file-pdf"></i></a> &middot <a :href='t.docx' v-if="t.docx" style="font-size:1em;"><i class="far fa-file-word"></i></a> -->
            </div>
          </div>
      </nav>
    </div></div> 

  </section>

  <section class="hero is-fullheight is-light">
    <div class="hero-body"><div class="container">
        <div class="tabs is-centered is-size-7">                    
            <ul>
              <li class="is-grouped"  v-for='(value, key) in tags' :key='key'>   
                  <div class="control">
                      <div class="tags has-addons">
                          <span class="tag is-medium is-uppercase">{{key}}</span>
                          <span class="tag is-medium is-primary is-uppercase"> {{value}} </span>
                      </div>
                  </div>
              </li>            
            </ul>
        </div>
    </div></div>

    <div class="hero-body"  v-for='(value, key) in summary' :key='key'>    
      <div class="container">
        <div class="subtitle" >{{key}}</div>
        <!-- <br> -->
        <div class="title">
          <md :source='value'></md>
        </div>
      </div>
    </div>

</section>
<section>
<div class="chart"></div>
</section>
</div>

</template>

<script>
import md from "../components/mdify.vue";
// import * as d3 from 'd3'


export default {
  mounted(){
// var data = [4, 8, 15, 16, 23, 42];

// var x = d3.scale.linear()
//     .domain([0, d3.max(data)])
//     .range([0, 420]);

// d3.select(".chart")
//   .selectAll("div")
//     .data(data)
//   .enter().append("div")
//     .style("width", function(d) { return x(d) + "px"; })
//     .text(function(d) { return d; });

  },
  data() {
    return {
      mylabel: "TestDataLabel",
      mylabels: ["happy", "myhappy", "hello"],
      mydata: [100, 40, 60],
      title: [
        {
          icon:
            "<span class='fa-layers fa-fw'><i class='fas fa-flask'></i><span class='fa-layers-counter' style='background:Tomato'>中</span></span>",
          title: "项目经验",
          link: "./cv?src=projects-zh&loc=zh",
          pdf: "./cv/pdf/projects-zh.pdf",
          docx: "./cv/docx/projects-zh.docx"
        },
        {
          icon:
            "<span class='fa-layers fa-fw'><i class='far fa-file-alt'></i><span class='fa-layers-counter' style='background:Tomato'>中</span></span>",
          title: "中文简历",
          link: "./cv?src=full-cv-zh&loc=zh",
          pdf: "./cv/pdf/full-cv-zh.pdf",
          docx: "./cv/docx/full-cv-zh.docx"
        },
        {
          icon:
            "<span class='fa-layers fa-fw'><i class='far fa-file-powerpoint'></i><span class='fa-layers-counter' style='background:Tomato'>EN</span></span>",
          title: "Slides",
          link: "https://tslides.netlify.com/cv"
        },
        {
          icon:
            "<span class='fa-layers fa-fw'><i class='far fa-file-alt'></i><span class='fa-layers-counter' style='background:Tomato'>EN</span></span>",
          title: "CV",
          link: "./cv?src=full-cv-en&loc=zh",
          pdf: "./cv/pdf/full-cv-en.pdf",
          docx: "./cv/docx/full-cv-en.docx"
        },
        {
          icon:
            "<span class='fa-layers fa-fw'><i class='fas fa-flask'></i><span class='fa-layers-counter' style='background:Tomato'>EN</span></span>",
          title: "Achievements",
          link: "./cv?src=projects-en&loc=zh",
          pdf: "./cv/pdf/projects-en.pdf",
          docx: "./cv/docx/projects-en.docx"
        }
      ],
      subtitle: [
        {
          icon: "<i class='fas fa-user'></i>",
          title: "久经工业技术研发沙场, 管理&实战专家"
        }
      ],
      contact: [
        " <a href='mailto:tom.tan@live.com'>tom.tan@live.com</a>",
        "(+86) 135-248-26926"
      ],
      tags: {
        团队管理: "2005 - 2016",
        软件开发: "1998 - 2018",
        电子设计: "1998 - 2005",
        电气设计: "1998 - 2003",
        机械设计: "1998 - 2002"
      },
      summary: {
        目标职位: "以软件，电子，电气研发工程为主的总监，高级经理岗位",

        行业经历: this.to_list([
          "大学研究所：1998 - 2002",
          "工业自动化：1998 - 2002 & 2005-2016",
          "半导体芯片：2002 - 2009",
          "机械制造业：2005 - 2016"
        ]),
        '擅长(管理)': this.join([
          "研发管理",
          "团队筹建",
          "国际协作"
        ]),        
        '擅长(技术)': this.join([
          "系统设计",
          "工业4.0",
          "工业互联网",
          "IoT",
          "云计算",
          "嵌入式"])
      }
    };
  },
  methods: {
    join(items, sep = " · ") {
      return items ? items.join(sep) : "";
    },

    to_list(items){
      return items.map(i => '- ' + i).join('\n')
    }
  },
  components: {
    md
  }
};
</script>
<style scoped>
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
