<template>
      <section class="hero is-light">
        <figure class="image">
            <img :src='husky_contribution' />
        </figure>
    </section>


</template>

<script>
import husky_contribution from "../assets/img/husky-contribution.jpg"
export default {
  data(){
    return {
      husky_contribution: husky_contribution
    }
  }
}
</script>

