/*******************************************************************
This chunk is to fix Bootstrap so that the Markdown output looks good
*******************************************************************/
@media screen {
    body {
        padding-top: 60px;        
    }
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 544px and up) */
@media screen and (min-width: 544px) {  
    body {
        padding-top: 60px;        
    }
    
   }
    
   /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
   @media screen and (min-width: 768px) {  
    body {
        padding-top: 60px;        
    }
   }
    
   /* Large devices (desktops, 992px and up) */
   @media screen and (min-width: 992px) { 
    body {
        padding-top: 60px;        
    }
    
   }
    
   /* Extra large devices (large desktops, 1200px and up) */
   @media screen and (min-width: 1200px) {  
    body {
        padding-top: 60px;        
    }
    
   }    
    
 body {
    padding-bottom: 40px; 
    font-size: 15px;
    line-height: 150%;
} 

xmp,
textarea {
    display: none;
}

h1,
h2,
h3,
h4 {
    margin: 15px 0;
}

pre {
    margin: 20px 0;
}

img {
    margin: 10px 0;
}

.navbar {
    z-index: 1;
    padding: 0.5rem;
}

.table {
    width: auto;
}

hr {
    margin-bottom: 60px;
}

a.md-header-anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.back-to-top-link
{
    margin-left: 1em;
    color:  lightsteelblue;
    font-size:.5em;
}


/* for paper print */

/* @import url("https://fonts.googleapis.com/css?family=Noto+Sans:300,400,700"); */
@import url("https://fonts.cat.net/css?family=Noto+Sans:300,400,700");
/* http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic */

@media print {
    body {
        padding-top: 0;
        padding-bottom: 0;
        /*font-size: 15px;*/
        font-size: 10pt;
        font-family: 'Noto Sans';
    }
    hr.page_break {
        page-break-before: always;
        /*page-break-after: always;*/
    }
    h1 {
        font-size: 2.0rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    /*Print URL After Links, excluding mailto:*/
    a[href^="http"]:after {
        content: " (" attr(href) ") ";
        font-size: 0.8em;
        font-weight: normal;
    }
    .navbar, .back-to-top-link {
        display: none !important;
    }
}


/*******************************************************************

This chunk is for Google's Code Prettify:
http://google-code-prettify.googlecode.com

*******************************************************************/


/* Pretty printing styles. Used with prettify.js. */


/* SPAN elements with the classes below are added by prettyprint. */

.pln {
    color: #000
}


/* plain text */

@media screen {
    .str {
        color: #080
    }
    /* string content */
    .kwd {
        color: #008
    }
    /* a keyword */
    .com {
        color: #800
    }
    /* a comment */
    .typ {
        color: #606
    }
    /* a type name */
    .lit {
        color: #066
    }
    /* a literal value */
    /* punctuation, lisp open bracket, lisp close bracket */
    .pun,
    .opn,
    .clo {
        color: #660
    }
    .tag {
        color: #008
    }
    /* a markup tag name */
    .atn {
        color: #606
    }
    /* a markup attribute name */
    .atv {
        color: #080
    }
    /* a markup attribute value */
    .dec,
    .var {
        color: #606
    }
    /* a declaration; a variable name */
    .fun {
        color: red
    }
    /* a function name */
}


/* Use higher contrast and text-weight for printable form. */

@media print,
projection {
    .str {
        color: #060
    }
    .kwd {
        color: #006;
        font-weight: bold
    }
    .com {
        color: #600;
        font-style: italic
    }
    .typ {
        color: #404;
        font-weight: bold
    }
    .lit {
        color: #044
    }
    .pun,
    .opn,
    .clo {
        color: #440
    }
    .tag {
        color: #006;
        font-weight: bold
    }
    .atn {
        color: #404
    }
    .atv {
        color: #060
    }
}


/* Put a border around prettyprinted code snippets. */

pre.prettyprint {
    padding: 2px;
    border: 1px solid #888
}


/* Specify class=linenums on a pre to get line numbering */

ol.linenums {
    margin-top: 0;
    margin-bottom: 0
}


/* IE indents via margin-left */

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none
}


/* Alternate shading for lines */

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #eee
}


img {
    width: 100%;
}

@media print
{    
        body {
            /* font-family: "SimSun"; */
        }
}