/*adapted from http://stackoverflow.com/a/43625080*/

body {
    counter-reset: h1
}

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

/*h1:before {
    counter-increment: h1;
    content: counter(h1) ". "
}*/

h2:before {
    counter-increment: h2;
    /*content: counter(h1) "." counter(h2) ". "*/
    content: counter(h2) ". ";
    font-weight: bold
}

h3:before {
    counter-increment: h3;
    /*content: counter(h1) "." counter(h2) "." counter(h3) ". "*/
    content: counter(h2) "." counter(h3) " ";
    font-weight: bold
}

h4:before {
    counter-increment: h4;
    /*content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "*/
    content: counter(h2) "." counter(h3) "." counter(h4) " ";
    font-weight: bold
}