<template>
      <nav class="navbar navbar-expand-lg fixed-top" :class="color" @dblclick='toggle'>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" v-html="source.brand"></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto" v-html="source.nav">
          </ul>
          <!-- <form class="form-inline">
              <input class="form-control mr-sm-2" placeholder="Search" type="text">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form> -->
          <div class="navbar-text">
            <small v-html="source.lastupdate"></small>
          </div>
        </div>
      </nav>
</template>

<script>

export default {
  props: ['source'],

  data () {
    return {
      isdark: 0
      }
  },
  computed:
  {
      color() { return ['navbar-dark bg-primary', 'navbar-light bg-light', 'navbar-dark bg-dark'][this.isdark];}
  },
  methods:
  {
    toggle(){this.isdark = (this.isdark + 1) % 3;}
  }
}
</script>

<style>

</style>
